.joke-card {
  h3 {
    color: #3f51b5;
  }
  p {
    font-size: large;
  }
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.mat-card {
  overflow: hidden;
}

.big-input {
  flex-grow: 1;
  border: 0;
  font-size: 20px;
  min-width: 60%;
  margin-left: 20px;
}

.container-fluid {
  padding: 50px;
  background-color: #3f51b5;
  color: white;
}

.page-header {
  margin-bottom: 30px;
  text-align: center;
  font-size: 3em;
}

.spinner-con {
  display: block;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, .95);
  .spinner {
    position: fixed;
    top: 45%;
    left: 45%;
  }
}

.fab {
  position: fixed;
  bottom: 30px;
  right: 30px;
}
